.tasks {
    margin: 0;
    padding: 20px 20px 30px;
    border-top: 2px solid #ededed;
    list-style: none;
}

.tasks__item {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #b9b9b9;
}

.tasks__item--hidden {
    display: none;
}

.tasks__text {
    word-break: break-word;
    flex-grow: 1;
}

.tasks__text--done {
    text-decoration: line-through;
}

.tasks__button {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    align-self: center;
    margin: 10px;
    border: none;
    transition: background-color .5s;
}

.tasks__button--toggleDone {
    background-color: #1a7b1e;
}

.tasks__button--toggleDone:hover {
    background-color: #36b43a;
}

.tasks__button--remove {
    background-color: #ec293a;
}

.tasks__button--remove:hover {
    background-color: #ff081d;
}