@media (max-width: 767px) {
    .buttons {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
}

.buttons__button {
    padding: 20px;
    color: #007382;
    background-color: #fff;
    border: none;
    transition: color .5s;
}

.buttons__button:hover {
    color: #00b0c7;
}

.buttons__button:disabled {
    color: rgb(199, 199, 199);
}

.buttons__button:disabled:hover {
    color: rgb(199, 199, 199);
}

.buttons__button--hidden {
    display: none;
}